.header {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: rgb(3, 191, 3);

  display: flex;
  align-items: center;
  justify-content: space-between;

  &__title {
    font-family: sans-serif;
    font-size: 24px;
    font-weight: 900;
    line-height: 1.25;
  }

  &__list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }

  &__item {
    list-style: none;
  }

  &__link {
    color: bisque;
    font-family: sans-serif;
    text-decoration: none;
  }

  &__link:hover {
    color: rgb(189, 169, 145);
  }
}