.card {
  padding: 5px;
  background-color: lightgrey;
  border-radius: 10px;

  &__title {
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.25;
    text-align: center;
  }

  &__text {
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.25;
  }

  &__author {
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 400;
    font-style: italic;
    line-height: 1.25;
    text-align: right;
  }

  &__button {
    border: none;
    border-radius: 5px;
    background-color: rgb(255, 213, 0);
    padding: 5px;
    width: 100%;
  }

  &__button:hover {
    background-color: rgb(211, 176, 0);
  }
}