<form #itemForm="ngForm" (ngSubmit)="addItem(itemForm)">
  <input type="text" name="name" required minlength="3" maxlength="50" #nameRef="ngModel" [(ngModel)]="newItem.name" placeholder="Enter item name">

  <div *ngIf="submitted && nameRef.invalid">
    <small *ngIf="nameRef.errors?.['required']">Назва товару обов'язкова</small>
    <small *ngIf="nameRef.errors?.['minlength']">Назва повинна містити мінімум 3 символи</small>
    <small *ngIf="nameRef.errors?.['maxlength']">Назва повинна містити максимум 50 символів</small>    
  </div>

  <input type="text" name="manufacturer" required minlength="2" maxlength="40" #manufacturerRef="ngModel" [(ngModel)]="newItem.manufacturer" placeholder="Enter item manufacturer">

  <div *ngIf="submitted && manufacturerRef.invalid">
    <small *ngIf="manufacturerRef.errors?.['required']">Вкажіть виробника</small>
    <small *ngIf="manufacturerRef.errors?.['minlength']">Назва виробника повинна містити мінімум 2 символи</small>
    <small *ngIf="manufacturerRef.errors?.['maxlength']">Назва виробника повинна містити максимум 40 символів</small>
  </div>

  <textarea name="description" required minlength="10" maxlength="200" #descriptionRef="ngModel" [(ngModel)]="newItem.description" placeholder="Enter item description"></textarea>

  <div *ngIf="submitted && descriptionRef.invalid">
    <small *ngIf="descriptionRef.errors?.['required']">Напишіть опис</small>
    <small *ngIf="descriptionRef.errors?.['minlength']">Опис повинен містити мінімум 10 символів</small>
    <small *ngIf="descriptionRef.errors?.['maxlength']">Опис повинен містити максимум 200 символів</small>
  </div>

  <button type="submit">Додати товар</button>
</form>

<ul>
  <li *ngFor="let item of items">
    <h3>{{item.name}}</h3>
    <p>Виробник: {{item.manufacturer}}</p>
    <p>Опис: {{item.description}}</p>
  </li>
</ul>